<% if (!user) { %>
	<h2>Login</h2>
	<a href="/login">Log In</a>
<% } else if (profile) { %>
	<h2>Hello, <%= user.displayName %>.</h2>
	<p><%= profile.Nationality %></p>
	<a href="/logout">Log Out</a>
<% } else { %>
	<h2>Please set up your profile.</h2>
<% } %>
