<% if (!user) { %>
	<h2>Login</h2>
	<a href="/login">Log In</a>
<% } else { %>
	<h2>Hello, <%= user.displayName %>.</h2>
	<h3>Here is your personal todo list.</h3>
	<ul>
		<% todos.forEach( (e, i) => { %>
			<li><input type="checkbox"> <%= e.item %></li>
		<% }); %>
	</ul>
	<form action="/todos" method="post">
		<label for="item">New Todo Item</label>
		<input type="text" id="item" name="item"><br>
		<input type="submit" value="Submit">
	</form>
	<a href="/">Home</a><br>
	<a href="/logout">Log Out</a>
<% } %>
